# Python
__pycache__/
*.py[cod]
*.$py.class
*.pyd
*.env
venv/
.env
.venv
env/

# Database
*.db
*.sqlite3

# VS Code
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db

# JetBrains
.idea/

# Logs
*.log

# Node
node_modules/
